html, body {
	height: 100%;
	margin: 0;
	font-family: Montserrat /* -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif; */
}

body {
	display: flex;
	flex-direction: column;
}

.content {
	padding: 16px;
	flex: 1 0 auto;
	text-align: center;
}

/* Headline */
h1 {
	font-size: 5rem;
	margin: 0;
	font-weight: inherit;
}

/* Subhead */
h2 {
	margin: 0 0 60px 0;
	font-size: 3rem;
	font-weight: inherit;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.header {
	margin-bottom: 40px;
	font-weight: 900;
}


img.hero-image {
	width: 25%;
	min-width: 400px;
	margin: 20px auto;
}

.emoji {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 40%;
}
.prohibited-sign {
	position: absolute;
	font-size: 8rem;
	top: -29px;
	left: -23px;
}

section.body {
	max-width: 65%;
	margin: 0 auto;
	font-size: 1.5rem;
	line-height: 1.5;
}

/* Text Emphasis */
span.statistic {
	text-decoration: underline;
	text-decoration-color: #db4a3f;
	text-decoration-thickness: 3px;
}

span.txt-cta {
	color: #006A78;
	font-weight: bold;
	/* background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text; */

}

footer {
	display: flex;
	justify-content: end;
	-webkit-justify-content: flex-end;
	flex-shrink: 0;
	padding: 16px;
}

/* Curved Title */
path {
  fill: transparent;
}

/* text {
  fill: #FF9800;
	font-family: Calibre, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 5rem;
} */

@media (prefers-color-scheme: dark) {
	body {
		background-color: #22272F;
		color: #FFFF;
	}
}

@media only screen and (max-device-width: 420px) {
	h1 {
		font-size: 3rem;
	}
	h3 {
		font-size: 2rem;
	}


	img.hero-image {
		min-width: 300px;
	}

	.emoji {
		width: 60%;
	}

	.prohibited-sign {
		font-size: 6rem;
	}

	section.body {
		max-width: 100%;
		font-size: 1.2rem;
    line-height: 1.8;
	}
}
